@media screen and (min-width:1215px) {
	body { /* html 전체 */
		color: white;
	}
	#header { /*주소 및 관심지역*/
		margin-top: 27px;
		text-align: center;
		width: 62%;
	}
	#main { /* 메인페이지 */
		overflow: hidden;
		padding-bottom: 100px;
		min-height: 100%;
		margin: 20px;
		/*
		position: relative;
		*/
	}
	#nav { /* 왼쪽 기상정보 */
		float: left;
		width: 60%;
		margin-left: 20px;
		marin: auto;
	}
	#map {
		text-align: center;
	}
	.hourParent { /* 1시간 layout */
		text-align: center;
	}
	.hour { /* 1시간 layout 테이블 */
		display: inline-block;
		text-align: center;
		margin: 20px;
		padding: 20px;
	}
	#todayAccu { /*일일 최저 최고*/
		display: inline-block;
		text-align: center;
	}
	.todayLi {
		display: inline-block;
	}
	#lft {
		width: 100%;
	}
	.innerLft {
		display: inline-block;
		text-align: left;
		margin: 4px 0px 0px 0px;
	}
	.innerLft3H { /*3시간 리스트*/
		display: inline-block;
		text-align: center;
		margin: 0 7px 0 24px;
	}
	.innerLft6H {
		display: inline-block;
		text-align: center;
		margin: 0 19px 0 38px;
	}
	.innerLft12H {
		display: inline-block;
		text-align: center;
		margin: 0 31px 0 50px;
	}
	.innerLft24H {
		display: inline-block;
		text-align: center;
		margin: 0 52px 0 75px;
	}
	.ht {
		text-align: center;
	}
	.hl {
		text-align: left;
		margin: 5px;
	}
	.hl.status {
		text-align: center;
	}
	#info {
		margin-top: 100px;
	}
	#scroll {
		width: 100%;
		white-space: nowrap;
		overflow: auto;
	}
	#container {
		max-width: 1350px;
		min-width: 100px;
		height: 100px;
		width: 1350px;
	}
	#content {
		float: right;
		width: 20%;
		margin: 40px;
		text-align: center;
	}
	#vmap {
		width: 100%;
		height: 300px;
	}
	#pastweater {
		width: 100%;
		height: 300px;
		padding: 10px;
		text-align: center;
	}
	#calendar {
		border: 1px white;
		width: 100%;
		height: 400px;
		padding10: px;
		text-align: center;
	}
	td {
		vertical-align: top;
	}

	/* The Modal (background) */
	.searchModal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 10; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.search-modal-content {
		color: black;
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 40%; /* Could be more or less, depending on screen size */
	}
	/*하단 고정*/
	#footer {
		width: 100%;
		height: 50px;
		bottom: 0;
		background: #5eaeff;
		text-align: center;
		color: white;
	}
}

@media screen and (min-width:1024px) and (max-width:1215px) {
	body { /* html 전체 */
		color: white;
	}
	#header { /*주소 및 관심지역*/
		margin-top: 27px;
		text-align: center;
		width: 62%;
	}
	#main { /* 메인페이지 */
		overflow: hidden;
		padding-bottom: 100px;
		min-height: 100%;
		margin: 20px;
		/*
		position: relative;
		*/
	}
	#nav { /* 왼쪽 기상정보 */
		float: left;
		width: 60%;
		margin-left: 20px;
		marin: auto;
	}
	#map {
		text-align: center;
	}
	.hourParent { /* 1시간 layout */
		text-align: center;
		width: 100%;
	}
	.hour { /* 1시간 layout 테이블 */
		display: inline-block;
		text-align: center;
		margin: 10px;
		padding: 10px;
	}
	#todayAccu { /*일일 최저 최고*/
		display: inline-block;
		text-align: center;
	}
	.todayLi {
		display: inline-block;
	}
	#scroll {
		width: 100%;
		white-space: nowrap;
		overflow: auto;
	}
	#container {
		max-width: 1350px;
		min-width: 100px;
		height: 100px;
		width: 1350px;
	}
	#lft {
		width: 100%;
	}
	.innerLft {
		display: inline-block;
		text-align: left;
		margin: 4px 0px 0px 0px;
	}
	.innerLft3H { /*3시간 리스트*/
		display: inline-block;
		text-align: center;
		margin: 16px;
	}
	.innerLft6H {
		display: inline-block;
		text-align: center;
		margin: 29px;
	}
	.innerLft12H {
		display: inline-block;
		text-align: center;
		margin: 41px;
	}
	.innerLft24H {
		display: inline-block;
		text-align: center;
		margin: 67px;
	}
	.ht {
		text-align: center;
	}
	.hl {
		text-align: left;
		margin: 5px;
	}
	.hl.status {
		text-align: center;
	}
	#info {
		margin-top: 100px;
	}
	#content {
		padding-top: 10px;
		float: right;
		width: 20%;
		margin: 40px;
		text-align: center;
	}
	#vmap {
		width: 100%;
		height: 300px;
	}
	#pastweater {
		width: 100%;
		height: 300px;
		padding: 10px;
		text-align: center;
	}
	#calendar {
		border: 1px white;
		width: 100%;
		height: 400px;
		padding10: px;
		text-align: center;
	}
	td {
		vertical-align: top;
	}

	/* The Modal (background) */
	.searchModal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 10; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.search-modal-content {
		color: black;
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 40%; /* Could be more or less, depending on screen size */
	}
	/*하단 고정*/
	#footer {
		width: 100%;
		height: 50px;
		bottom: 0;
		background: #5eaeff;
		text-align: center;
		color: white;
	}
}

@media screen and (min-width:641px) and (max-width:1023px) {
	body {
		background-color: #009ae1;
		color: white;
	}
	#header {
		text-align: center;
		width: 100%;
		margin-top: 27px;
	}
	#main { /* 메인페이지 */
		overflow: hidden;
	}
	#todayAccu {
		display: inline-block;
		text-align: center;
	}
	.todayLi {
		display: inline-block;
		margin: 10px;
	}
	.hourParent { /* 1시간 layout */
		text-align: center;
	}
	.hour { /* 1시간 layout 테이블 */
		display: inline-block;
		text-align: center;
		margin: 40px;
		padding: 10px;
	}
	#todayAccu { /*일일 최저 최고*/
		display: inline-block;
		text-align: center;
	}
	.todayLi {
		display: inline-block;
	}
	.infobtn {
		text-align: center;
		margin: 0 auto;
	}
	.infobtn button {
		width: 20%;
	}
	#lft {
		width: 100%;
	}
	.innerLft {
		display: inline-block;
		text-align: left;
		margin: 4px 0px 0px 0px;
	}
	.innerLft3H { /*3시간 리스트*/
		display: inline-block;
		text-align: center;
		margin: 16px;
	}
	.innerLft6H {
		display: inline-block;
		text-align: center;
		margin: 29px;
	}
	.innerLft12H {
		display: inline-block;
		text-align: center;
		margin: 41px;
	}
	.innerLft24H {
		display: inline-block;
		text-align: center;
		margin: 67px;
	}
	#scroll {
		width: 100%;
		white-space: nowrap;
		overflow: auto;
	}
	#container {
		max-width: 1350px;
		min-width: 100px;
		height: 100px;
		width: 1350px;
	}
	#vmap {
		width: 100%;
		height: 300px;
	}
	#pastweater {
		margin-top: 35px;
	}
	#calendar {
		border: 1px white;
		width: 100%;
		height: 400px;
		padding10: px;
		text-align: center;
	}
	td {
		vertical-align: top;
	}
	#content {
		width: 100%;
		text-align: center;
	}
	#map {
		margin-top: 35px;
	}

	/* The Modal (background) */
	.searchModal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 10; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.search-modal-content {
		color: black;
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 40%; /* Could be more or less, depending on screen size */
	}
	#footer {
		width: 100%;
		height: 50px;
		bottom: 0;
		background: #5eaeff;
		text-align: center;
		color: white;
	}
}

@media screen and (max-width:640px) {
	body {
		background-color: #009ae1;
		color: white;
	}
	#header {
		margin-top: 27px;
		text-align: center;
		width: 100%;
	}
	#main { /* 메인페이지 */
		overflow: hidden;
		margin: 10px, 0, 0, 10px;
	}
	.hourParent { /* 1시간 layout */
		text-align: center;
	}
	.hour { /* 1시간 layout 테이블 */
		display: inline-block;
		text-align: center;
		margin: 40px;
		padding: 20px;
	}
	#todayAccu { /*일일 최저 최고*/
		display: inline-block;
		text-align: center;
	}
	.todayLi {
		display: inline-block;
	}
	.infobtn {
		text-align: center;
		margin: 0 auto;
	}
	.infobtn button {
		width: 20%;
	}
	#lft {
		width: 100%;
		box-sizing: border-box;
	}
	.innerLft {
		display: inline-block;
		text-align: left;
		margin: 4px 0px 0px 0px;
	}
	.innerLft3H { /*3시간 리스트*/
		display: inline-block;
		text-align: center;
		margin: 16px;
	}
	.innerLft6H {
		display: inline-block;
		text-align: center;
		margin: 29px;
	}
	.innerLft12H {
		display: inline-block;
		text-align: center;
		margin: 41px;
	}
	.innerLft24H {
		display: inline-block;
		text-align: center;
		margin: 67px;
	}
	#scroll {
		width: 100%;
		white-space: nowrap;
		overflow: auto;
	}
	#container {
		max-width: 1350px;
		min-width: 100px;
		height: 100px;
		width: 1350px;
	}
	#vmap {
		width: 100%;
		height: 300px;
	}
	#pastweater {
		margin-top: 35px;
	}
	#calendar {
		border: 1px white;
		width: 100%;
		height: 400px;
		padding10: px;
		text-align: center;
	}
	td {
		vertical-align: top;
	}
	#content {
		width: 100%;
		text-align: center;
	}
	#map {
		margin-top: 35px;
	}
	#todayAccu {
		display: inline-block;
		text-align: center;
	}
	.todayLi {
		display: inline-block;
		margin: 10px;
	}
	/* The Modal (background) */
	.searchModal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 10; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.search-modal-content {
		color: black;
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 40%; /* Could be more or less, depending on screen size */
	}
	#footer {
		width: 100%;
		height: 50px;
		bottom: 0;
		background: #5eaeff;
		text-align: center;
		color: white;
	}
}