<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- xml에 제약 거는 것 -->

<mapper namespace="dev">
  <!-- ====================== RENTINFO ======================== -->
  <!-- 최근 대여 내역 3 리스트-->
  <select id="rent3list" resultType="rdto" parameterType="String">
    select ob_name, rent_no, date_format(rent_sdate, "%Y-%m-%d") as rent_sdate, date_format(rent_edate, "%Y-%m-%d") as rent_edate
    from oldbook
           left outer join rentinfo on ob_no = rent_no
    where rent_id = #{rent_id}
    order by rent_sdate desc limit 3
  </select>

  <!-- 전체 대여 내역 리스트-->
  <select id="rentlistall" resultType="rdto" parameterType="String">
    select ob_name, rent_no, date_format(rent_sdate, "%Y-%m-%d") as rent_sdate, date_format(rent_edate, "%Y-%m-%d") as rent_edate
    from oldbook
           left outer join rentinfo on ob_no = rent_no
    where rent_id = #{rent_id}
    order by rent_sdate desc
  </select>

  <select id="getRentInfo" parameterType="String" resultType="rdto">
    select rent_no, rent_id, date_format(rent_sdate, '%Y-%m-%d') as rent_sdate, date_format(rent_edate, '%Y-%m-%d') as rent_edate, rent_ecount
    from rentinfo
    where rent_id = #{rent_id}
    order by rent_sdate desc limit 1;
  </select>

  <!-- =================== REVIEW ======================== -->
  <!--  중고책 기증시 파일 입력을 위한 sql문 -->
  <insert id="insertFile" parameterType="hashmap">
    <selectKey keyProperty="idx" order="BEFORE" resultType="int">
      select ifnull(max(idx), 0)+1 from ob_file where ob_no=#{ob_no}
    </selectKey>
    <![CDATA[
	insert into ob_file(idx, ob_no, original_file_name,stored_file_name,file_size,ob_rdate,del_gb)
	values(default, #{ob_no}, #{original_file_name}, #{stored_file_name}, #{file_size},now(),default)
	]]>
  </insert>

</mapper>
