<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- xml에 제약 거는 것 -->

<mapper namespace="dev">
  <!-- ====================== RENTINFO ======================== -->
  <!-- 최근 대여 내역 3 리스트-->
  <select id="rent3list" resultType="rdto" parameterType="String">
    select ob_name, rent_no, date_format(rent_sdate, "%Y-%m-%d") as rent_sdate, date_format(rent_edate, "%Y-%m-%d") as rent_edate
    from oldbook
           left outer join rentinfo on ob_no = rent_no
    where rent_id = #{rent_id}
    order by rent_sdate desc limit 3
  </select>

  <!-- 전체 대여 내역 리스트-->
  <select id="rentlistall" resultType="rdto" parameterType="String">
    select ob_name, rent_no, date_format(rent_sdate, "%Y-%m-%d") as rent_sdate, date_format(rent_edate, "%Y-%m-%d") as rent_edate
    from oldbook
           left outer join rentinfo on ob_no = rent_no
    where rent_id = #{rent_id}
    order by rent_sdate desc
  </select>

  <select id="getRentInfo" parameterType="String" resultType="rdto">
    select rent_no, rent_id, date_format(rent_sdate, '%Y-%m-%d') as rent_sdate, date_format(rent_edate, '%Y-%m-%d') as rent_edate, rent_ecount
    from rentinfo
    where rent_id = #{rent_id}
    order by rent_sdate desc limit 1;
  </select>

</mapper>
